@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


body {
    font-family: 'PT Serif', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
    width: 850px;
}

h1, h2 { 
    text-align: center;
    margin-bottom: 5px;
}

hr {
    border: 1px solid; 
    background: black;
    margin-top: 1px; 
}

table {
    border-collapse: collapse;
}
table.edu {
    border: 2px solid;
}

.edu>tbody>tr>th {
    font-weight: bold;
}
  
.edu>tbody>tr>th, .edu>tbody>tr>td {
    border: 2px solid;
}

#linkedIn {
    text-align: right;
    color: black;
}

table.edu>tbody>tr>:nth-child(3) {
    text-align: center;
}

td.edu {
    padding-left: 5px;
}

.work-header {
    width: 100%;
}

.work-header > tbody> tr > :nth-child(5) {
    text-align: right;
}
.work-header > tbody> tr > :nth-child(2) {
    text-align: left;
}

.skill>tbody>tr>th, .work-header>tbody>tr>th {
    font-size: large;
    font-weight:900;
    text-align: left;
}

.work-header>tbody>tr>th:nth-of-type(1) {
    width: 25px;
}

.work-header>tbody>tr>th:nth-of-type(2) {
    width: 140px;
}

.work-header>tbody>tr>th:nth-of-type(3) {
    width: 330px;
}

ul {
    margin-top: 0px;
}

.work-header>tbody>tr>th {
    padding-top: 6px;
    padding-bottom: 6px;
}

.skill i {
    width: 20px;
}

.edu td:nth-of-type(1), .edu td:nth-of-type(2), .edu td:nth-of-type(4) {
    padding-left: 5px;
}

.edu tr:nth-of-type(4)>td  {
    padding-top: 4px;
    padding-bottom: 4px;
}